<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File Deletion</title>
</head>
<h1>Удаление файлов</h1>
<div>
    <table>
        <tr>
            <th>ImageId</th>
            <th>Image Original Name</th>
            <th>Delete Image</th>
        </tr>
        <#list files as file>
            <tr>
                <td>${file.id}</td>
                <td>${file.originalFileName}</td>
                <td><form action="/films/${film.id}/profile/delete" method="POST">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                        <input type="hidden" name="fileId" value="${file.id}">
                        <input type="submit" value="Delete"></form></td>
            </tr>
        </#list>

    </table>

    <#list files as file>
        <tr>
            <td><img src="/files/${file.storageFileName}"
                     width="256" height="160" alt="Фото фильма"></td>
        </tr>
    </#list>
    <br>
    <br>
</div>
<body>

</body>
</html>